.main {
    background-color: #161f2d;
    height: 15rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}
.input {
    width: 70%;
    background-color: #161f2d;
    border: none;
    border-bottom: 1px solid rgb(164, 164, 164);
    padding: 1rem;
    
    font-size: 20px;
    color: white;
}
.input::placeholder{
    color: rgb(164, 164, 164);
}

.btnTweet {
    margin: 1rem;
    background-color: #409af0;
    padding: 0.7rem 1.2rem;
    border-radius: 25px;
    border: none;
    font-size: 19px;
    font-weight: bolder;
}

